# osx
.DS_Store
Icon?
.Spotlight-V100
.Trashes

# python
*.py[co]

# packages
dist
sdist
build
eggs
parts
bin
develop-eggs
.installed.cfg
*.egg
*.egg-info
Fabric.egg-info
manhattan.egg-info

# installer logs
pip-log.txt

# vi
*.sw[a-z]
*.un~
*~

# application
*.log
core.tar.gz

# virtualenv
env

# external packages
fabric
