{% extends "layout.html" %}

{% block title %}Memoize{% endblock %}

{% block head %}
  {{ super() }}

<!--
<script>
    //WEB_SOCKET_SWF_LOCATION = "http://localhost:5000{{url_for('static', filename='WebSocketMain.swf')}}";
    WEB_SOCKET_SWF_LOCATION = "http://localhost:7000/socket.io/lib/vendor/web-socket-js/WebSocketMain.swf";
    var socket = new io.Socket(); // get this from conf
    socket.options.port = 7000;
    socket.connect();
    socket.on('message', function(m) {
        console.log('got a msg: ' + m);
        m = JSON.parse(m);
        switch (m.action) {
            case "ping":
                socket.send(JSON.stringify({ "action" : "pong",
                "memory" :  ));
                // FIXME This doesn't work on the home page
                break;
            case "update":
                updateArtifact(m);
                break;
            break;
        }
    });
</script>
-->

<link rel="stylesheet" href="{{url_for('static', filename='css/page_landing.css')}}">
<script src="{{url_for('static', filename='js/memoize_landing.js')}}"></script>
{% endblock %}

{% block content %}
<div id="landing_bg">
    <div id="landing_wrapper">
    	<div id="titlebar">
            <span class="title">Memoize</span><span class="subtitle">&nbsp;&nbsp;&nbsp;You know what's cool? A Billion photos</span>
        </div>

		<div id="landing_drag_area_top"></div>
    	<div id="landing_drag_area_middle">
            <div id="drag_example_graphic"></div>
        
            <div id="landing_drag_area_content">
                <div id="helper_text">
                    <div id="inline_upload_leadtext">Drag in or</div>
                    <div id="inline_upload">
                        <form id="file_upload" action="{{url_for('photo')}}" method="POST" enctype="multipart/form-data">
                            <input id="memory_id" type=hidden name=memory_id />
                            <input id="multi_session" type=hidden name=multi_session />
                            <input type="file" name="photo" multiple>
                            <button>Upload</button>
                            <div>upload several photos</div>
                    </form></div>
                    here. Share the link of your new canvas to let friends add their memories

                </div>

                <div id="memory_url_area">
                    Your memories are uploading. Don't close this tab till they're done.<br/>
                    In the meantime, share & view your canvas at (opens in new tab):
                    <div id="memory_url"></div>
                    Share this link with friends. Have them add memories there too.
                </div>
                
                <div id="upload_area">
                    <div id="example_fileholders_container">
                        <div class="example_fileholders"></div> 
                        <div class="example_fileholders opacity65"></div> 
                        <div class="example_fileholders opacity40"></div> 
                        <div class="example_fileholders opacity10"></div> 
                        <div class="clear"></div>
                    </div>
                    <div id="files">
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
        <div id="landing_drag_area_bottom"></div>

        {% if not session['email'] %}
        <div id="landing_login">
        	<form id="landing_login_form" class="login_form" action="/login" method="post">

                <div class="login_blank" style="">&nbsp;</div>

                <div class="login_welcome" style="display:none;">
                    Welcome back <span class="login_welcome_email"></span>
                </div>

                <div class="login_new_message" style="display:none;">
                    You're new! Cool. Make & confirm a password
                </div>

                <div class="login_checking" style="display:none;">
                    Keep typing. Checking for your email ...
                </div>

                <div class="login_email_div">
                    <div class="login_label_div"><label for="email">Your email:</label></div>
                    {% if session['fix_email'] %}
                    <div class="login_email"><input type="text" name="email" id="email" title="New or existing email" value="{{session['fix_email']}}" class="field100" /></div>
                    {% else %}
                    <div class="login_email"><input type="text" name="email" id="email" title="New or existing email" class="field100" /></div>
                    {% endif %}
                    <div class="clear"></div>
                </div>

                {% if session['fix_email'] %}
                <div class="login_prompt" style="display:none">
                    <span style="color:#ebebeb;"><strong>New here?</strong></span> Enter your email to make a new free, spamless account to save memories with
                </div>
                {% else %}
                <div class="login_prompt">
                    <span style="color:#ebebeb;"><strong>New here?</strong></span> Enter your email to make a new free, spamless account to save memories with
                </div>
                {% endif %}
                
                {% if session['fix_email'] %}
                <div class="login_enter_pass_div">
                {% else %}
                <div class="login_enter_pass_div" style="display:none">
                {% endif %}
                    <div class="login_label_div login_label_div_pass"><label for="existing_pass">Your pass:</label></div>
                    <div class="login_existing_pass"><input type="password" id="existing_pass" name="password" title="password for this email" class="field100" /></div>
                    <input type="submit" class="login_submit input_button" name="submit" value="Login" />
                    <div class="clear"></div>
                </div>

                <div class="login_new_pass_div">
                    <div class="login_label_div login_label_div_pass"><label for="existing_pass">New pass:</label></div>
                    <div class="login_new_pass"><input type="password" id="new_pass" name="new_pass" title="password"/></div>
                    <div class="login_new_confirm_pass"><input type="password" id="confirm_pass" name="confirm" title="confirm pass"/></div>
                    <input type="submit" class="login_submit input_button" name="submit" value="Create" />
                    <div class="clear"></div>
                </div>

                <div class="login_error_messages">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %} 
                                {{message}}
                            {% endfor %}
                        {% endif %}
                      {% endwith %}
                </div>
            </form>
        </div>

        {% else %}
        <div id="welcome_user">
            Welcome {{session['email']}}
            <br />
            <a href="{{url_for('stream')}}">Recall</a> memories | <a href="{{ url_for('logout') }}">Log out</a>
        </div>
        {% endif %}


        <div id="drag_example_right">
            <div id="drag_example_right_graphic"></div>
        	<div id="drag_example_right_text">Memories from everyone pulled together</div>
        </div>
    
    </div>
</div>
<!--
    <br />
  <h3><a href="{{ url_for('login') }}">Sign in</a> to access your memories.</h3>

  <h3> Build a new Memory!</h3>

    <form method=POST enctype=multipart/form-data action="{{url_for('memory')}}">
        <p><label>Photo:</label><input type=file name=photo></p>
        <p><label>Title:</label><input type=text name=title></p>
        <label>Caption:</label><input type=text name=caption></p>
        <p><label>Memory Name:</label><input type=text name=mem_name></p>
        <p><input type="submit" name="submit" value="Send my Photo!" /></p>
    </form>
    -->
{% endblock %}
