{% extends "layout.html" %}

{% block title %}Memoize{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
    <div id="landing_wrapper">
    	<div id="titlebar">
            <span class="title">Memoize</span><span class="subtitle">&nbsp;&nbsp;&nbsp;A home for shared memories</span>
        </div>

		<div id="landing_drag_area_top"></div>
    	<div id="landing_drag_area_middle">
            <div id="drag_example_graphic"></div>
        
        <div id="landing_drag_area_content">
            <div id="helper_text">
                <div id="inline_upload_leadtext">Simply drag or</div>
                <div id="inline_upload">
                    <form id="file_upload" action="{{url_for('create')}}" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="submit" value="Send my Photo!" />
                        <input id="memory_id" type=hidden name=memory_id />
                        <input id="multi_key" type=hidden name=multi_key />
                        <input type="file" name="photo" multiple>
                        <button>Upload</button>
                        <div>upload photos</div>
                </form></div>
                here. Share the link of your new canvas and let friends add their memories

            </div>

            <div id="memory_url_area">
                Your memory can now be found at:
                <div id="memory_url"></div>
                Share with trusted friends so they can add memories too
            </div>
            
            <div id="upload_area">
                <div id="example_fileholders_container">
                    <div class="example_fileholders"></div> 
                    <div class="example_fileholders opacity65"></div> 
                    <div class="example_fileholders opacity40"></div> 
                    <div class="example_fileholders opacity10"></div> 
                </div>
                <div id="files">
<!--                
                    <div class="upload_file_div">
                        <div class="file_upload_content">
                            IMG22019.jpg
                        </div>

                        <div class="file_upload_preview">
                            <img src="/static/sandbox/images/2.jpg"/>
                        </div>
                    </div>
                    -->
                </div>
                <script type="text/javascript" src="{{url_for('static', filename='js/upload_init.js')}}"></script> 
            </div>

            <div class="clear"></div>
        </div>
        </div>
        <div id="landing_drag_area_bottom"></div>

        {% if not session['email'] %}
        <div id="landing_login">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %} 
                        {% if message == 'null' %}
                            <div class="error">
                            Incorrect password for this username. Try again or enter a new email & password to create a new account <br />
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
              {% endwith %}
        	<form id="landing_login_form" action="/login" method="post">
            	<div id="landing_login_email"><input type="text" name="email" title="Login with new or existing email" class="field100" /></div>
                <div id="landing_login_pass"><input type="password" name="password" title="New or existing pass" class="field100" /></div>
                <input id="landing_login_submit" type="submit" class="input_button" name="submit" value="Login" />
            </form>
        </div>
          {% else %}
          <p>{{session['email']}}. Log out <a href="{{url_for('logout')}}">here</a>.</p>
          {% endif %}


        <div id="drag_example_right">
            <div id="drag_example_right_graphic"></div>
        	<div id="drag_example_right_text">Memories from everyone pulled together</div>
        </div>
    
    </div>
<!--
    <br />
  <h3><a href="{{ url_for('login') }}">Sign in</a> to access your memories.</h3>

  <h3> Build a new Memory!</h3>

    <form method=POST enctype=multipart/form-data action="{{url_for('create')}}">
        <p><label>Photo:</label><input type=file name=photo></p>
        <p><label>Title:</label><input type=text name=title></p>
        <label>Caption:</label><input type=text name=caption></p>
        <p><label>Memory Name:</label><input type=text name=mem_name></p>
        <p><input type="submit" name="submit" value="Send my Photo!" /></p>
    </form>
    -->
{% endblock %}
