<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="login">
  <meta name="author" content="Raeez">

  <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">

  <title>{% block title %}{% endblock %} - Collate</title>
</head>

<body>
  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">
    {% block footer %}
    &copy; Copyright 2011 by <a href="http://collate.raeez.com/">Collate</a>.
    {% endblock %}
  </div>
</body>
</html>
