{% extends "layout.html" %}

{% block title %}Monet Summary{% endblock %}

{% block head %}
{{ super() }}


<!--
<script>
    //WEB_SOCKET_SWF_LOCATION = "http://localhost:5000{{url_for('static', filename='WebSocketMain.swf')}}";
    WEB_SOCKET_SWF_LOCATION = "http://localhost:7000/socket.io/lib/vendor/web-socket-js/WebSocketMain.swf";
    var socket = new io.Socket(); // get this from conf
    socket.options.port = 7000;
    socket.connect();
    socket.on('message', function(m) {
        //console.log('got a msg: ' + m);
        m = JSON.parse(m);
        switch (m.action) {
            case "ping":
                socket.send(JSON.stringify({ "action" : "pong",
                                             "memory" : "{{memory['id']}}" }));
                break;
            case "update":
                updateArtifact(m);
                break;
            break;
        }
    });
</script>
-->

<script src="{{url_for('static', filename='js/jquery.transform-0.9.3.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.jeditable.mini.js')}}"></script>

<link rel="stylesheet" href="{{url_for('static', filename='css/page_canvas.css')}}">
<script src="{{url_for('static', filename='js/memoize_canvas.js')}}"></script>
{% endblock %}

{% block content %}

<div id="memory_id" style="display:none">{{memory['id']}}</div>

	<div id="canvas_header">
    	<div class="canvas_outer_wrapper">
            <div class="canvas_left_of_wrapper">
                <div id="header_accent_bar">
                    <div id="share_area">
                        <div id="share_bar"></div>
                        <div id="share_link_area">
                            <div id="prompt">Copy this Link:</div>
                            <div id="chrome_fix_div">
                            <div id="link"><script>document.write("<input id=\"share_link_value\" type=\"text\" value=\""+window.location+"\"/>"); </script>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas_center">
                <div id="canvas_title_wrap">
                    <div id="canvas_title">
                        <div class="click" id="{{memory['id']}}">{{memory['name']}}</div>
                    </div>
                </div>
                <div id="login">

                	<div id="canvas_login_prompt">

                    {% if 'email' in session %}
                        <!--
                        {% if not memory['claimed'] %}
                          <a href="{{url_for('claim', id=memory['id'])}}">Claim</a> this memory!
                        {% endif %}
                        -->
                        Welcome {{session['email']}}
                        <br />
                        <a href="{{url_for('new')}}">New</a> memory | <a href="{{url_for('stream')}}">Recall</a> memories | <a href="{{ url_for('logout') }}">Log out</a>
                    </div>

                    {% else %}
                        Don't forget this memory!
                        <br/>
                        <a id="canvas_login_text" href="#">Login</a> or <a id="canvas_signup_text" href="#">signup</a> to remember it
                    </div>
                    
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div id="canvas_login_div">
                    {% else %}
                    <div id="canvas_login_div" style="display:none;">
                    {% endif %}
                        <div id="canvas_login_close">X</div>
                        <form id="canvas_login_form" class="login_form" action="{{url_for('login')}}" method="post">

                            <div class="login_blank" style="">&nbsp;</div>

                            <div class="login_welcome" style="display:none;">
                                Welcome back <span class="login_welcome_email"></span>
                            </div>

                            <div class="login_new_message" style="display:none;">
                                You're new! Cool. Make & confirm a password
                            </div>

                            <div class="login_checking" style="display:none;">
                                Keep typing. Checking for your email ...
                            </div>

                            <div class="login_email_div">
                                <div class="login_label_div"><label for="email">Your email:</label></div>
                                {% if messages %}
                                <div class="login_email"><input type="text" name="email" id="email" title="New or existing email" value="{{session['fix_email']}}" class="field100" /></div>
                                {% else %}
                                <div class="login_email"><input type="text" name="email" id="email" title="New or existing email" class="field100" /></div>
                                {% endif %}
                                <div class="clear"></div>
                            </div>

                            {% if messages %}
                            <div class="login_prompt" style="display:none">
                                <span class="memoize_white">New here?</span> Enter your email to make a new free, spamless account to save memories with
                            </div>
                            {% else %}
                            <div class="login_prompt">
                                <span class="memoize_white">New here?</span> Enter your email to make a new free, spamless account to save memories with
                            </div>
                            {% endif %}
                            
                            {% if messages %}
                            <div class="login_enter_pass_div">
                            {% else %}
                            <div class="login_enter_pass_div" style="display:none">
                            {% endif %}
                                <div class="login_label_div login_label_div_pass"><label for="existing_pass">Your pass:</label></div>
                                <div class="login_existing_pass"><input type="password" id="existing_pass" name="password" title="password for this email" class="field100" /></div>
                                <input type="submit" class="login_submit input_button" name="submit" value="Login" />
                                <div class="clear"></div>
                            </div>

                            <div class="login_new_pass_div">
                                <div class="login_label_div login_label_div_pass"><label for="existing_pass">New pass:</label></div>
                                <div class="login_new_pass"><input type="password" id="new_pass" name="new_pass" title="password"/></div>
                                <div class="login_new_confirm_pass"><input type="password" id="confirm_pass" name="confirm" title="confirm pass"/></div>
                                <input type="submit" class="login_submit input_button" name="submit" value="Create" />
                                <div class="clear"></div>
                            </div>

                            <div class="login_error_messages">
                                {% if messages %}
                                    {% for message in messages %} 
                                        {{message}}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </form>
                    </div>
                    {% endwith %}

                {% endif %}
                    
                </div>
                <div class="clear"></div>
            </div>
            <div class="canvas_right_of_wrapper">
			</div>
         </div>
    </div>
    
    <div id="canvas">
    	<div class="canvas_outer_wrapper">
            <div class="canvas_left_of_wrapper">
                &nbsp;
            </div>
            <div class="canvas_center" id="photo_canvas_center">
                <div id="header_block"></div>

                {% if 'email' in session %}
                <div id="alert_bar" style="display:none;">
                {% else %}
                <div id="alert_bar">
                {% endif %}
                    <div class="chevron">&#0187;</div>
                    <div class="alert_bar_text"><span class="memoize_white">Don't forget this memory!</span> <a href="#" id="alert_bar_login">Login</a> or make a <a href="#" id="alert_bar_signup">new account</a> (takes about 6.28 sec)
                        <br/>
                        Have friends with photos of this event? <a href="#" id="share">Share</a> this page's url so they can drag in their memories too.
                    </div>
                    <div class="chevron">&#0171;</div>
                    <div id="hide_this"><a href="#">hide this</a></div>
                    <div class="clear"></div>
                </div>

                <div id="artifact_wrapper">

                    <div id="above_zoom_div" class="zoom_div">

                    <div class="artifact_row" id="row_0">
                    <div id="add_artifact" class="artifact no_crop">
                        <div class="photo_container">
                        <form id="canvas_file_upload" action="{{url_for('photo')}}" method="POST" enctype="multipart/form-data">
                            <input type="file" name="photo" multiple>
                            <input type=hidden name=memory_id value="{{memory['id']}}"/>
                            <input type="hidden" name="submit" value="Add Photo" />
                        </form>
                        
                        <div class="file_upload_canvas_content" style="top:0;">
                            Add more photos:
                        </div>

                        <div id="add_artifact_text">
                            Drag in more photos<br/>
                            Or <span class="blue_hover">upload</span> them here<br/>
                            <br/>
                            We let you add a big bunch at the same time :D
                        </div>
                    </div>
                    </div>

                    <div id="new_artifacts" class="artifact no_crop">
                        <div id="uploadArea_title_div">
                            Uploading...
                            <br/>
                            <br/>
                            <span id="current">0</span> of <span id="total">0</span>
                            <br/>
                            completed
                            <br/>
                            <br/>
                            <a href="#" id="cancel_all_uploads">Cancel all incomplete</a>
                        </div>

                        <div id="uploadArea_holding_wrapper">
                            <div id="uploadArea_holding_div"></div>
                        </div>
                        <div id="uploadArea_staging_div">
                            <div id="staging_title">staging completed ...</div>
                            <div id="staging_content"></div>
                        </div>

                        <!--
                        <div id="uploadArea_holding_wrapper">
                            <div id="uploadArea_holding_div">
                                <div class="canvas_upload_div"></div>
                                <div class="canvas_upload_div"></div>
                                <div class="canvas_upload_div"></div>
                                <div class="canvas_upload_div"></div>
                                <div class="canvas_upload_div"></div>
                                <div class="canvas_upload_div"></div>
                                <div class="canvas_upload_div"></div>
                                <div class="canvas_upload_div"></div>
                                <div class="canvas_upload_div"></div>
                                <div class="canvas_upload_div"></div>
                            </div>
                        </div>

                        <div id="uploadArea_staging_div">
                            <div id="staging_title">staging completed ...</div>
                            <div id="staging_content">
                                <div class="canvas_upload_div"></div>
                                <div class="canvas_upload_div"></div>
                                <div class="canvas_upload_div"></div>
                                <div class="canvas_upload_div"></div>
                            </div>
                        </div>
                        -->


                        <!--
                        <div class="upload_file_canvas_div artifact no_crop">
                            <div class="file_upload_canvas_content">
                                foobar
                            </div>
                            <div class="file_upload_canvas_progress"></div>
                            <div class="photo_container"><div class="mock_photo"></div></div>
                        </div>
                        -->
                        
                    </div>
                    </div>

                    {% for row in memory['rows'] %}
                    <div class="artifact_row" id="row_{{loop.index}}">
                    {% for artifact in row %}
                        {% if artifact['visible'] == 1 or artifact['visible'] == None %}
                            <div id="artifact_{{artifact['id']}}" class="artifact photo">
                                <div class="hide_photo"><a href="#">hide</a></div>
                                <div class="photo_container" style="width:{{artifact['width']}}px; height:{{artifact['height']}}px"></div>
                            </div>
                        {% endif %}

                        {% if artifact['visible'] == 0 %}
                            <div id="artifact_{{artifact['id']}}" class="artifact artifact_hidden photo">
                                <div class="hide_photo">hidden photo<br/><a href='#'>show</a></div>
                                <div class="photo_container" style="width:{{artifact['width']}}px; height:{{artifact['height']}}px"></div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                    {% endfor %}

                </div> <!-- End above_zoom_div -->
                <div id="in_zoom_div" class="zoom_div"></div>
                <div id="below_zoom_div" class="zoom_div"></div>

                </div>
                <div id="footer_block"></div>
            </div>
            <div class="canvas_right_of_wrapper"></div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    
    <div id="canvas_footer">
    	<div class="canvas_outer_wrapper">
            <div class="canvas_left_of_wrapper">&nbsp;</div>
            <div class="canvas_center">
                {% if memory['visible'] == 1 %}
                <div id="hidden_prompt" class="showing_hidden"><a href="/memory/{{memory['id']}}?show_hidden=0">Do not show</a> hidden photos</div>
                {% endif %}
                {% if memory['visible'] == 0 %}
                <div id="hidden_prompt" class="not_showing_hidden"><a href="/memory/{{memory['id']}}?show_hidden=1">Show</a> hidden photos</div>
                {% endif %}


            	<div id="company_info">
                Collected through <a href="{{url_for('index')}}">Monet</a><br/>
                <!--
                <span id="company_info_descriptor"><a href="">About</a> | <a href="">Team</a> | <a href="">Contact</a></span>       
                <span id="company_info_descriptor">Copyright &#169; 2011 | Monet </span>
                -->
                </div>
                <div class="clear"></div>

            </div>
            <div id="footer_right_of_wrapper" class="canvas_right_of_wrapper">
            	<div id="footer_accent_bar"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    


{% endblock %}
