{% extends "layout.html" %}

{% block title %}Memoize Summary{% endblock %}

{% block head %}
{{ super() }}
<!--
    <link rel="stylesheet" href="{{url_for('static', filename='css/zoomooz.css')}}" type="text/css" />
    <script type="text/javascript" src="{{url_for('static', filename='js/sylvester.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/purecssmatrix.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.zoomooz.js')}}"></script>
    -->

    <script src="{{url_for('static', filename='js/jquery.jeditable.mini.js')}}"></script>

    <script type="text/javascript">
    /*****************
     * Title editability
     */
$(document).ready(function() {
	$(".click").editable("/rename_memory", { 
        indicator : "<img src='{{url_for('static', filename='images/indicator.gif')}}'>",
        tooltip   : "Click to edit. Push enter to save.",
        style  : "inherit",
        id: "id",
        name: "new_name",
	onblur: "submit",
	});
    });


</script>

<!--
    <script type="text/javascript">

    $(document).ready(function()
    {
        
        $(".photo").toggle(function(evt) {
            console.log("clicked");
            settings = {
                // zoomed size relative to screen
                // 0.0-1.0
                targetsize: 0.9,
                // scale content to screen based on their size
                // "width"|"height"|"both"
                scalemode: "both",
                // animation duration
                duration: 500,
                // easing of animation, similar to css transition params
                // "linear"|"ease"|"ease-in"|"ease-out"|
                // "ease-in-out"|[p1,p2,p3,p4]
                // [p1, p2, p3, p4] refer to cubic-bezier curve params
                easing: "ease",
                // use browser native animation in webkit
                // true|false
                nativeanimation: true
            }
          $(this).zoomTo(settings);
          evt.stopPropagation();
        },
        function(evt) {
            $("body").zoomTo({targetsize:1.0});
            evt.stopPropagation();
        });
        
        $("body").click(function(evt) {
            $(this).zoomTo({targetsize:1.0});
            evt.stopPropagation();
        });


    });
    </script>
    -->
{% endblock %}

{% block content %}

	<div id="canvas_header">
    	<div class="canvas_outer_wrapper">
            <div class="canvas_left_of_wrapper">
            	<div id="header_accent_bar"></div>
            </div>
            <div class="canvas_center">
                <div id="canvas_title">
                    <div class="click" id="{{memory['id']}}">{{memory['name']}}</div>
                </div>
                <div id="login">

                	<div id="canvas_login_prompt">

                    {% if 'email' in session %}
                        {% if not memory['claimed'] %}
                          <a href="{{url_for('claim', id=memory['id'])}}">Claim</a> this memory!
                        {% endif %}
                        Welcome {{session['email']}} | <a href="{{ url_for('logout') }}">Log out</a>
                        <br />
                        <a href="{{url_for('new')}}">New</a> memory | <a href="{{url_for('stream')}}">Recall</a> memories
                    </div>

                    {% else %}
                        Don't forget this memory!
                        <br/>
                        Login <a id="canvas_login_text" href="{{url_for('login')}}">here</a> to keep it forever
                    </div>
                    
                    <div id="canvas_login_div">
                        <form id="canvas_login_form" action="{{url_for('login')}}" method="post">
                            <div id="canvas_login_email"><input type="text" name="email" title="Login with new or existing email" class="field100" /></div>
                            <div id="canvas_login_pass"><input type="password" name="password" title="New or existing pass" class="field100" /></div>
                            <input id="canvas_login_submit" type="submit" class="input_button" name="submit" value="Login" />
                        </form>
                    </div>

                {% endif %}
                    
                </div>
                <div class="clear"></div>
            </div>
            <div class="canvas_right_of_wrapper">
			</div>
			<div class="clear"></div>
         </div>
    </div>
    
    <div id="canvas">
    	<div class="canvas_outer_wrapper">
            <div class="canvas_left_of_wrapper">
            	<div id="share_area">
                    <div id="share_bar"></div>
                    <div id="share_link_area">
                    	<p id="share_link_prompt">Copy selected text then paste in email or IM to let friends add memories</p>
                        <script> document.write("<input id=\"share_link_value\" type=\"text\" value=\"" + window.location + "\"/>"); </script>
                    </div>
                </div>
            </div>
            <div class="canvas_center" id="photo_canvas_center">
                <div id="photo_wrapper">

                    <div id="add_artifact" class="photo_div no_crop">
                        <div class="photo">
                        <form id="canvas_file_upload" action="{{url_for('create')}}" method="POST" enctype="multipart/form-data">
                            <input type="file" name="photo" multiple>
                            <input type=hidden name=memory_id value="{{memory['id']}}"/>
                            <input type="hidden" name="submit" value="Add Photo" />
                        </form>
                        
                        <div class="file_upload_canvas_content" style="top:0;">
                            Add more photos:
                        </div>

                        <div id="add_artifact_text">
                            Drag in more photos<br/>
                            Or <span class="blue_hover">upload</span> them here
                        </div>
                    </div>
                    </div>

                    <div id="new_artifacts">
                        
                    </div>

                    {% for item in memory['items'] %}
                    <div id="{{item[0]}}" class="photo_div"><img class="photo" src="{{item[2]}}" height="175" /></div>
                    {% endfor %}

                <script type="text/javascript" src="{{url_for('static', filename='js/upload_init.js')}}"></script> 

                <div class="clear"></div>
                </div>
            </div>
            <div class="canvas_right_of_wrapper">
            	<div id="bottom_accent_bar"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    
    <div id="canvas_footer">
    	<div class="canvas_outer_wrapper">
            <div class="canvas_left_of_wrapper">&nbsp;</div>
            <div class="canvas_center">


            	<div id="company_info">
                Collected through <a href="">Memoize</a><br/>
                <span id="company_info_descriptor"><a href="">About</a> | <a href="">Team</a> | <a href="">Contact</a></span>       
                </div>
                <div class="clear"></div>

            </div>
            <div id="footer_right_of_wrapper" class="canvas_right_of_wrapper">
            	<div id="footer_accent_bar"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    


{% endblock %}
