{% extends "layout.html" %}

{% block title %}Memoize Summary{% endblock %}

{% block head %}
{{ super() }}
<!--
    <link rel="stylesheet" href="{{url_for('static', filename='css/zoomooz.css')}}" type="text/css" />
    <script type="text/javascript" src="{{url_for('static', filename='js/sylvester.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/purecssmatrix.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.zoomooz.js')}}"></script>
    -->

    <script src="{{url_for('static', filename='js/jquery.jeditable.mini.js')}}"></script>

    <script type="text/javascript">
    /*****************
     * Title editability
     */
$(document).ready(function() {
    loadartifacts(0,100);

    $(window).scroll(function(){
        loadViewportPhotos();
    });

	$(".click").editable("/rename_memory", { 
        indicator : "<img src='{{url_for('static', filename='images/indicator.gif')}}'>",
        tooltip   : "Click to edit. Push enter to save.",
        style  : "inherit",
        id: "id",
        name: "new_name",
	onblur: "submit",
	});
});


</script>

<!--
    <script type="text/javascript">

    $(document).ready(function()
    {
        
        $(".photo").toggle(function(evt) {
            console.log("clicked");
            settings = {
                // zoomed size relative to screen
                // 0.0-1.0
                targetsize: 0.9,
                // scale content to screen based on their size
                // "width"|"height"|"both"
                scalemode: "both",
                // animation duration
                duration: 500,
                // easing of animation, similar to css transition params
                // "linear"|"ease"|"ease-in"|"ease-out"|
                // "ease-in-out"|[p1,p2,p3,p4]
                // [p1, p2, p3, p4] refer to cubic-bezier curve params
                easing: "ease",
                // use browser native animation in webkit
                // true|false
                nativeanimation: true
            }
          $(this).zoomTo(settings);
          evt.stopPropagation();
        },
        function(evt) {
            $("body").zoomTo({targetsize:1.0});
            evt.stopPropagation();
        });
        
        $("body").click(function(evt) {
            $(this).zoomTo({targetsize:1.0});
            evt.stopPropagation();
        });


    });
    </script>
    -->
{% endblock %}

{% block content %}

<div id="memory_id" style="display:none">{{memory['id']}}</div>

	<div id="canvas_header">
    	<div class="canvas_outer_wrapper">
            <div class="canvas_left_of_wrapper">
                <div id="header_accent_bar">
                    <div id="share_area">
                        <div id="share_bar"></div>
                        <div id="share_link_area">
                            <p id="share_link_prompt">Copy selected text then paste in email or IM to let friends add memories</p>
                            <script> document.write("<input id=\"share_link_value\" type=\"text\" value=\"" + window.location + "\"/>"); </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas_center">
                <div id="canvas_title">
                    <div class="click" id="{{memory['id']}}">{{memory['name']}}</div>
                </div>
                <div id="login">

                	<div id="canvas_login_prompt">

                    {% if 'email' in session %}
                        <!--
                        {% if not memory['claimed'] %}
                          <a href="{{url_for('claim', id=memory['id'])}}">Claim</a> this memory!
                        {% endif %}
                        -->
                        Welcome {{session['email']}}
                        <br />
                        <a href="{{url_for('new')}}">New</a> memory | <a href="{{url_for('stream')}}">Recall</a> memories | <a href="{{ url_for('logout') }}">Log out</a>
                    </div>

                    {% else %}
                        Don't forget this memory!
                        <br/>
                        Login <a id="canvas_login_text" href="#">here</a> to keep it forever
                    </div>
                    
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div id="canvas_login_div">
                    {% else %}
                    <div id="canvas_login_div" style="display:none;">
                    {% endif %}
                        <div id="canvas_login_close">X</div>
                        <form id="canvas_login_form" class="login_form" action="{{url_for('login')}}" method="post">

                            <div class="login_blank" style="">&nbsp;</div>

                            <div class="login_welcome" style="display:none;">
                                Welcome back <span class="login_welcome_email"></span>
                            </div>

                            <div class="login_new_message" style="display:none;">
                                You're new! Cool. Make & confirm a password
                            </div>

                            <div class="login_checking" style="display:none;">
                                Keep typing. Checking for your email ...
                            </div>

                            <div class="login_email_div">
                                <div class="login_label_div"><label for="email">Login email:</label></div>
                                {% if messages %}
                                <div class="login_email"><input type="text" name="email" id="email" title="New or existing email" value="{{session['fix_email']}}" class="field100" /></div>
                                {% else %}
                                <div class="login_email"><input type="text" name="email" id="email" title="New or existing email" class="field100" /></div>
                                {% endif %}
                                <div class="clear"></div>
                            </div>

                            {% if messages %}
                            <div class="login_prompt" style="display:none">
                                <strong>New here?</strong> Enter your email to make a new free, spamless account to save memories with
                            </div>
                            {% else %}
                            <div class="login_prompt">
                                <strong>New here?</strong> Enter your email to make a new free, spamless account to save memories with
                            </div>
                            {% endif %}
                            
                            {% if messages %}
                            <div class="login_enter_pass_div">
                            {% else %}
                            <div class="login_enter_pass_div" style="display:none">
                            {% endif %}
                                <div class="login_label_div login_label_div_pass"><label for="existing_pass">Your pass:</label></div>
                                <div class="login_existing_pass"><input type="password" id="existing_pass" name="password" title="password for this email" class="field100" /></div>
                                <input type="submit" class="login_submit input_button" name="submit" value="Login" />
                                <div class="clear"></div>
                            </div>

                            <div class="login_new_pass_div">
                                <div class="login_label_div login_label_div_pass"><label for="existing_pass">New pass:</label></div>
                                <div class="login_new_pass"><input type="password" id="new_pass" name="new_pass" title="password"/></div>
                                <div class="login_new_confirm_pass"><input type="password" id="confirm_pass" name="confirm" title="confirm pass"/></div>
                                <input type="submit" class="login_submit input_button" name="submit" value="Create" />
                                <div class="clear"></div>
                            </div>

                            <div class="login_error_messages">
                                {% if messages %}
                                    {% for message in messages %} 
                                        {{message}}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </form>
                    </div>
                    {% endwith %}

                {% endif %}
                    
                </div>
                <div class="clear"></div>
            </div>
            <div class="canvas_right_of_wrapper">
			</div>
         </div>
    </div>
    
    <div id="canvas">
    	<div class="canvas_outer_wrapper">
            <div class="canvas_left_of_wrapper">
                &nbsp;
            </div>
            <div class="canvas_center" id="photo_canvas_center">
                <div id="header_block"></div>
                <div id="artifact_wrapper">

                    <div id="add_artifact" class="artifact no_crop">
                        <div class="photo_container">
                        <form id="canvas_file_upload" action="{{url_for('create')}}" method="POST" enctype="multipart/form-data">
                            <input type="file" name="photo" multiple>
                            <input type=hidden name=memory_id value="{{memory['id']}}"/>
                            <input type="hidden" name="submit" value="Add Photo" />
                        </form>
                        
                        <div class="file_upload_canvas_content" style="top:0;">
                            Add more photos:
                        </div>

                        <div id="add_artifact_text">
                            Drag in more photos<br/>
                            Or <span class="blue_hover">upload</span> them here
                        </div>
                    </div>
                    </div>

                    <div id="new_artifacts">
                        <!--
                        <div class="upload_file_canvas_div artifact no_crop">
                            <div class="file_upload_canvas_content">
                                foobar
                                <div class="file_upload_progress"></div>
                                <div class="file_upload_cancel"></div>
                            </div>
                            <div class="file_upload_canvas_preview"></div>
                            <div class="photo"><div class="mock_photo"></div></div>
                        </div>
                        -->
                        
                    </div>

                    {% for artifact in memory['artifacts'] %}
                        {% if artifact['visible'] == 1 or artifact['visible'] == None %}
                            <div id="artifact_{{artifact['id']}}" class="artifact">
                                <div class="hide_photo"><a href="#">hide</a></div>
                                <div class="photo_container" style="width:{{artifact['width']}}px; height:{{artifact['height']}}px"></div>
                            </div>
                        {% endif %}

                        {% if artifact['visible'] == 0 %}
                            <div id="artifact_{{artifact['id']}}" class="artifact artifact_hidden">
                                <div class="hide_photo">hidden photo<br/><a href='#'>show</a></div>
                                <div class="photo_container" style="width:{{artifact['width']}}px; height:{{artifact['height']}}px"></div>
                            </div>
                        {% endif %}
                    {% endfor %}

                <script type="text/javascript" src="{{url_for('static', filename='js/upload_init.js')}}"></script> 

                <div class="clear"></div>
                {% if memory['visible'] == 1 %}
                <div id="hidden_prompt" class="showing_hidden"><a href="/memory/{{memory['id']}}?show_hidden=0">Do not show</a> hidden photos</div>
                {% endif %}
                {% if memory['visible'] == 0 %}
                <div id="hidden_prompt" class="not_showing_hidden"><a href="/memory/{{memory['id']}}?show_hidden=1">Show</a> hidden photos</div>
                {% endif %}

                </div>
                <div id="footer_block"></div>
            </div>
            <div class="canvas_right_of_wrapper"></div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    
    <div id="canvas_footer">
    	<div class="canvas_outer_wrapper">
            <div class="canvas_left_of_wrapper">&nbsp;</div>
            <div class="canvas_center">


            	<div id="company_info">
                Collected through <a href="{{url_for('index')}}">Memoize</a><br/>
                <!--
                <span id="company_info_descriptor"><a href="">About</a> | <a href="">Team</a> | <a href="">Contact</a></span>       
                <span id="company_info_descriptor">Copyright &#169; 2011 | Memoize </span>
                -->
                </div>
                <div class="clear"></div>

            </div>
            <div id="footer_right_of_wrapper" class="canvas_right_of_wrapper">
            	<div id="footer_accent_bar"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    


{% endblock %}
