@charset "utf-8";
/* CSS Document */

/*
 * Memoize CSS Style Sheet
 */
 
/*****************************************
 * Color Scheme
 *****************************************/

/* White */
.memoize_white {
	color: #ebebeb;
}

/* Grey */
.memoize_grey_dark {
	color: #222222;
}
.memoize_grey_medium {
	color: #333333;
}
.memoize_grey_light {
	color: #aaaaaa;
}

/* Teal */
.memoize_teal {
	color: #11b0aa;
}
.memoize_darker_teal {
	color:#189792;
}

/*****************************************
 * Reset Browser Defaults
 *****************************************/
 
 html, body, div, span, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  a, abbr, acronym, address, code,  del, dfn, em, img, q, dl, dt, dd, ol, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1.2;
}
/* Tables still need 'cellspacing="0"' in the markup. */

table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
table, td, th {
	vertical-align: middle;
}
/* Remove possible quote marks (") from <q>, <blockquote>. */

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/* Remove annoying border on linked images. */

a img {
	border: none;
}

/*****************************************
 * Primary Node Overrides
 *****************************************/
@font-face {  
    font-family: "Trebuchet";  
    src: url("TREBUC.TTF"); /* IE */  
    src: local("Trebuchet"), url("TREBUC.TTF") format("truetype"); /* non-IE */  
} 
	 
body {
    height:100%;
	background: #222222;
	font-family: "Trebuchet", "Trebuchet MS", Trebuchet, Trebuchet MS, sans-serif;
	letter-spacing:.07em;
	line-height:1.6em;
	color:#ebebeb;
}

h1 {
	font-size:2em;
	font-weight:normal;
	color: #ebebeb;
}

a {
	color:#189792;
	text-decoration:none;
}
a:hover {
	color:#11b0aa;
}
.blue_hover {
	color:#189792;
	text-decoration:none;
}
.blue_hover:hover {
	color:#11b0aa;
    cursor:pointer;
}

p {
}

label {
	color:#aaaaaa;
	font-size:.7em;
	letter-spacing:.04em;
	padding:0;
	margin:10;
}
input {
	border:1px solid #333333;
	background:#222222;
	color:#aaaaaa;
	padding:.2em .2em .2em .4em;
	font-size:.7em;
	letter-spacing:.04em;
	font-family: "Trebuchet", "Trebuchet MS", Trebuchet, Trebuchet MS, sans-serif;
}
input:hover {
	border:1px solid #aaaaaa;
	background:#222222;
}
.input_hover {
	border:1px solid #aaaaaa;
	background:#222222;
}
input:focus {
	border:1px solid #aaaaaa;
	background:#333333;
}
.input_button {
	padding:.2em;
}
.input_button:hover {
	cursor:pointer;
}
.input_button:active {
	background:#444444;
}

.field100 {
	width:100%;
}

/*****************************************
 * General Classes
 *****************************************/
.wrapper {
	width:960px;
	margin:0 auto;
	position:relative;
}
.visible {
	display:inherit;
}
.invisible {
	display:none;
}
.opacity10 {
    opacity: .10;
    -ms-filter: 'alpha(opacity=.10)';
    filter: alpha(opacity=.10);
}
.opacity40 {
    opacity: .40;
    -ms-filter: 'alpha(opacity=.40)';
    filter: alpha(opacity=.40);
}
.opacity65 {
    opacity: .65;
    -ms-filter: 'alpha(opacity=.65)';
    filter: alpha(opacity=.65);
}
 
/*****************************************
 * Landing Page
 *****************************************/
#landing_wrapper {
	position:relative;
	width:639px;
	margin-left:auto;
	margin-right:auto;
	top:43px;
}

#landing_drag_area_top {
	width:639px; /* 639 + 144 = 783 */
	height:65px;
	padding:0px 72px;
	background:transparent url(../images/Landing_DragAreaBG_top.png) no-repeat top left;
}

#landing_drag_area_middle {
	width:639px; /* 639 + 144 = 783 */
	min-height:185px;
	padding:0px 72px;
	/*height:277px;  277 + 72 + 65 = 412 */
	background:transparent url(../images/Landing_DragAreaBG_middle.png) repeat-y top left;
}

#landing_drag_area_bottom {
	width:639px; /* 639 + 144 = 783 */
	height:65px;
	padding:0px 72px;
	background:transparent url(../images/Landing_DragAreaBG_bottom.png) no-repeat top left;
}

#titlebar {
	position:relative;
	bottom:-35px;
	padding-left:52px;
}

.title {
	color:#11b0aa;
	font-size:50px;
}

.subtitle {
	color:#11b0aa;
	font-size:22px;
}

#drag_example_graphic{
    background:transparent url("../images/photo_drag.png") no-repeat top left;
    width:253px;
    height:229px;
	position:absolute;
	left:-140px;
	top:30px;
}

#landing_drag_area_content{
	width:495px;
    position:relative;
    z-index:10;
}

#example_fileholders_container{
    position:absolute;

}
.example_fileholders {
    width:100px;
    height:100px;
    margin:5px;
    float:left;
    border: 2px dashed #aaa;
    position:relative;
}

#memory_url_area{
    display:none;
    margin-top:1em;
    padding-left:20px;
    background:#222;
    color:#aaa;
    font-size:.8em;
    opacity: .85;
    -ms-filter: 'alpha(opacity=.85)';
    filter: alpha(opacity=.85);
}
#memory_url {
    font-size:1.6em;
}

#helper_text {
	font-size:18px;
}

#upload_area {
    position:relative;
	margin-top:15px;
}

#landing_login{
	position:relative;
	top:-25px;
	left:52px;
	float:left;
	width:218px;
	z-index:10;
}

#landing_login_email {
	width:210px;
}
#landing_login_pass {
	width:160px;
	float:left;
	margin-top:5px;
}
#landing_login_submit {
	width:45px;
	float:right;
	margin-top:5px;
}

#drag_example_right_graphic{
    width:265px;
    height:178px;
    background:transparent url("../images/photo_drag_right.png") no-repeat top left;
	position:absolute;
    left:430px;
}
#drag_example_right{
	position:relative;
	top:-145px;
	left:100px;
	text-align:right;
	z-index:5;
}
#drag_example_right_text {
	font-size:18px;
	text-align:right;
	width:283px;
	position:absolute;
	top:120px;
	left:208px;
}
/*
#mobile_app_graphic{
    width:200px;
    height:223px;
    background:transparent url("../images/mobile_app.png") no-repeat top left;
	position:absolute;
    left:430px;
}
#mobile_app_area{
	position:relative;
	top:-145px;
	left:100px;
	text-align:right;
	z-index:5;
}
#mobile_app_text {
	font-size:18px;
	text-align:left;
	width:283px;
	position:absolute;
	top:120px;
	left:230px;
}
*/

/*****************************************
 * Canvas Header
 *****************************************/

#canvas_header {
	background:#222222 url(../images/dark_glow_top.png) repeat-x bottom left;
}

#header_accent_bar {
	background:#189792 url(../images/teal_accent_top.jpg) no-repeat bottom left;
	width:38px;
	min-height:57px;
	margin-left:1px;
}

#canvas_header #title {
	float:left;
	width:700px;
	padding-top:5px;
}

#canvas_header #login {
    text-align:right;
	float:right;
	width:250px;
	font-size:.8em;
	color:#aaaaaa;
	line-height:1.4em;
}
#canvas_login_div {
	width:218px;
	display:none;
}
#canvas_login_email {
	width:210px;
}
#canvas_login_pass {
	width:160px;
	float:left;
	margin-top:5px;
}
#canvas_login_submit {
	width:45px;
	float:right;
	margin-top:5px;
}


#canvas_header .click input {
	font-size:1em;
	font-weight:normal;
	color: #1e5957;
	background:transparent;
	border:0;
	margin:0;
	padding:0;
	font-family:inherit;
}

#canvas_header .click {
	margin:0;
	padding:0px 5px;
}

#canvas_header .click:hover {
	border:2px #ccc dashed;
	cursor:text;
	padding:0px 3px;
}

/*****************************************
 * Canvas Page
 *****************************************/

#canvas {
	background:#333333;
}

.canvas_outer_wrapper {
	width:1060px;
	margin:0 auto;
	position:relative;
}
.canvas_left_of_wrapper {
	width:50px;
	float:left;
	height:100%;
}
.canvas_center {
	position:relative;
	width:955px;
	float:left;
	padding-top:10px;
	padding-bottom:10px;
	z-index:5;
}
.canvas_right_of_wrapper {
	width:50px;
	position:absolute;
	bottom:0;
	right:0;
}

#share_bar {
	background:#189792 url(../images/share_default.jpg) no-repeat top left;
	width:38px;
	height:33px;
}
#share_bar:hover {
	background:#11b0aa url(../images/share_hover.jpg) no-repeat top left;
	cursor:pointer;
}

#share_link_area {
	position:absolute;
	width:410px;
	height:31px;
	background:#11b0aa url(../images/share_link_area.jpg) no-repeat top left;
	display:none;
	z-index:10;
	top:0;
	left:39px;
	padding:2px 2px 0px 3px;
}

#share_link_prompt {
	color:#333333;
	font-size:0.7em;
	line-height:1em;
	letter-spacing:0em;
}
#share_link_value {
	width:407px;
	padding:0px;
	margin-top:2px;
	font-size:0.7em;
}

#bottom_accent_bar {
	background:#189792 url(../images/teal_accent_bottom_inner.jpg) no-repeat bottom left;
	width:20px;
	min-height:17px;
}

/*****************************************
 * Photo
 *****************************************/

.photo {
	
}

.photo:hover {
}

#photo_wrapper {
}

.photo_div{
	display:block;
	float:left;
	-moz-box-shadow: 2px 2px 7px #111;
	-webkit-box-shadow: 2px 2px 7px #111;
	box-shadow: 2px 2px 7px #111;
	margin:5px;
	overflow:hidden;
}

/*
.photo_div:hover {
	cursor:pointer;
	-moz-box-shadow: 2px 2px 7px #1e5957;
	-webkit-box-shadow: 2px 2px 7px #1e5957;
	box-shadow: 2px 2px 7px #1e5957;
	border:1px solid #1e5957;
	margin:4px;
}
*/

/*****************************************
 * Footer
 *****************************************/

 #canvas_footer {
	 background:#222222 url(../images/dark_glow_bottom.png) repeat-x top left;
 }
 
 #canvas_footer .canvas_center {
	 padding:0;
 }
 
 #footer_accent_bar {
	background:#189792 url(../images/teal_accent_bottom.jpg) no-repeat bottom left;
	width:20px;
	min-height:55px;
	margin-left:1px;
 }
 
 #company_info {
	line-height:1.2em;
	margin-top:18px;
	height:37px;
	float:right;
	width:270px;
	text-align:right;
 }
 #company_info_descriptor {
	 font-size:0.7em;
 }

 #footer_right_of_wrapper {
     top:0;
 }
 
/*****************************************
 * Miscellaneous
 *****************************************/
.clear {
	clear:both;
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
	overflow:hidden;
}
