@charset "utf-8";
/* CSS Document */

/*****************************************
 * Landing Page
 *****************************************/
#landing_bg {
    background:#222;
    min-height:100%;
}

#landing_wrapper {
	position:relative;
	width:639px;
	margin-left:auto;
	margin-right:auto;
	top:43px;
}

#landing_drag_area_top {
	width:639px; /* 639 + 144 = 783 */
	height:65px;
	padding:0px 72px;
	background:transparent url(../images/Landing_DragAreaBG_top.png) no-repeat top left;
}

#landing_drag_area_middle {
	width:639px; /* 639 + 144 = 783 */
	min-height:185px;
	padding:0px 72px;
	/*height:277px;  277 + 72 + 65 = 412 */
	background:transparent url(../images/Landing_DragAreaBG_middle.png) repeat-y top left;
}

#landing_drag_area_bottom {
	width:639px; /* 639 + 144 = 783 */
	height:65px;
	padding:0px 72px;
	background:transparent url(../images/Landing_DragAreaBG_bottom.png) no-repeat top left;
}

#titlebar {
	position:relative;
	bottom:-45px;
	padding-left:52px;
}

.title {
	color:#11b0aa;
	font-size:50px;
}

.subtitle {
	color:#11b0aa;
	font-size:16px;
}

#drag_example_graphic{
    background:transparent url("../images/photo_drag.png") no-repeat top left;
    width:253px;
    height:229px;
	position:absolute;
	left:-140px;
	top:55px;
}

#landing_drag_area_content{
	width:495px;
    position:relative;
    z-index:10;
}

#example_fileholders_container{

}
.example_fileholders {
    width:100px;
    height:100px;
    margin:5px;
    float:left;
    border: 2px dashed #aaa;
    position:relative;
}

#memory_url_area{
    display:none;
    margin-top:1em;
    padding:10px 20px 10px 10px;
    background:#222;
    color:#aaa;
    opacity: .85;
    -ms-filter: 'alpha(opacity=.85)';
    filter: alpha(opacity=.85);
}
#memory_url {
    font-size:2em;
    line-height:1.2;
    margin:7px 0 7px 0;
}

#helper_text {
	font-size:1.5em;
}

#upload_area {
    position:relative;
	margin-top:15px;
}

#landing_login{
	position:relative;
	top:-50px;
	left:52px;
	float:left;
	width:287px;
	z-index:10;
}


#welcome_user {
	position:relative;
	top:-25px;
	left:52px;
	float:left;
	width:287px;
	z-index:10;
}

#drag_example_right_graphic{
    width:265px;
    height:178px;
    background:transparent url("../images/photo_drag_right.png") no-repeat top left;
	position:absolute;
    left:430px;
}
#drag_example_right{
	position:relative;
	top:-145px;
	left:100px;
	text-align:right;
	z-index:5;
}
#drag_example_right_text {
	font-size:1.5em;
	text-align:right;
	width:283px;
	position:absolute;
	top:116px;
	left:208px;
}
/*
#mobile_app_graphic{
    width:200px;
    height:223px;
    background:transparent url("../images/mobile_app.png") no-repeat top left;
	position:absolute;
    left:430px;
}
#mobile_app_area{
	position:relative;
	top:-145px;
	left:100px;
	text-align:right;
	z-index:5;
}
#mobile_app_text {
	font-size:18px;
	text-align:left;
	width:283px;
	position:absolute;
	top:120px;
	left:230px;
}
*/

/*****************************************
 * Landing Page Uploader
 *****************************************/
.upload_file_div {
    width:100px;
    height:100px;
    margin:5px;
    float:left;
    border: 2px dashed #aaa;
    position:relative;
    overflow:hidden;
    font-size:0.8em;
}

.file_upload_content {
    background:#222222;
    position:absolute;
    bottom:0;
    z-index:2;
    width:90px;
    padding:.6em 5px 5px .7em;
    opacity: .85;
    -ms-filter: 'alpha(opacity=.85)';
    filter: alpha(opacity=.85);
}

.file_upload_progress {
    height:100%;
}

.file_upload_preview {
    position:absolute;
    z-index:1;
}
.file_upload_preview img {
    margin:0 auto;
    height: 100px;
}

#inline_upload_leadtext {
    width:5.2em;
    height:1em;
    float:left;
    overflow:visible;
}
#inline_upload {
    position:relative;
    width:11.3em;
    height:1em;
    float:left;
    overflow:visible;
	color:#189792;
    cursor:pointer;
}
#inline_upload:hover {
	color:#11b0aa;
}
#inline_upload input {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    -webkit-transform: translate(-20px, 0px) scale(1.2, 1);
    -moz-transform: translate(-250px, 0px) scale(3,1.2);
    -o-transform: translate(-20px, 0px) scale(1.2, 1);
    z-index:2;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    filter: alpha(opacity=0);
}

