@charset "utf-8";
/* CSS Document */

/*****************************************
 * Canvas Header
 *****************************************/

#canvas_header {
    position: fixed;
    z-index:2;
	background:transparent url(../images/top_bar_bg.png) repeat-x bottom left;
    height:70px;
    width:100%;
}

#header_accent_bar {
	background:transparent url(../images/top_accent.png) no-repeat top left;
	width:60px;
    height:110px;
    position:relative;
}

#canvas_header #login {
	float:right;
	width:280px;
	color:#aaaaaa;
    position:relative;
}
#canvas_login_prompt {
    text-align:right;
}
#canvas_login_div {
    position:absolute;
    right:0;
    top:0;
    padding:0px 10px 10px 10px;
	width:287px;
    background:#222;
    border:1px solid #333;
	-moz-box-shadow: 2px 2px 7px #111;
	-webkit-box-shadow: 2px 2px 7px #111;
	box-shadow: 2px 2px 7px #111;
}
#canvas_login_close {
    position:absolute;
    top:-5px;
    right:-5px;
    background:#333;
    border:2px solid #222;
    font-size:0.6em;
    line-height:1em;
    width:8px;
    height:8px;
    padding:3px;
    text-align:right;
}
#canvas_login_close:hover {
    cursor:pointer;
    background:#222;
    border:2px solid #333;
}


#canvas_title_wrap {
    width:640px;
    float:left;
    overflow:hidden;
}
#canvas_title {
    width:955px;
    font-size:1.8em;
}
#canvas_title .click {
    padding:5px 5px 6px 5px;
    float:left;
}

#canvas_title .click:hover {
	border:2px #ccc dashed;
	cursor:text;
	padding:3px 3px 4px 3px;
}

#canvas_title .click input {
    font-size:0.7em;
	color: #aaa;
	background:#444;
    border:0;
	margin:0;
	padding:0px 0px 0px 3px;
	font-family:inherit;
}



/*****************************************
 * Canvas Page
 *****************************************/

#canvas {
    position:relative;
    z-index:1;
	background:#333333;
    overflow:hidden;
}

.canvas_outer_wrapper {
	width:1060px;
	margin:0 auto;
	position:relative;
}
.canvas_left_of_wrapper {
	width:60px;
	float:left;
	height:100%;
}
.canvas_center {
	position:relative;
	width:955px;
	float:left;
	padding-top:10px;
	padding-bottom:10px;
	z-index:5;
}
.canvas_right_of_wrapper {
	width:50px;
	position:absolute;
	bottom:0;
	right:0;
}

#canvas #alert_bar {
    max-width:955px;
    padding-left:113px;
    margin:0 auto;
    color:#aaa;
    /*background:#11b0aa;*/
    height:35px;
    margin-bottom:5px;
    overflow:hidden;
    /*
    opacity: .10;
    -ms-filter: 'alpha(opacity=.10)';
    filter: alpha(opacity=.10);
    */
}
#canvas #alert_bar .chevron {
    font-size:5em;
    line-height:25px;
    color:#11b0aa;
    float:left;
    width:32px;
}
#canvas #alert_bar .alert_bar_text {
    float:left;
    padding:0px 5px 0px 5px;
    text-align:center;
}
#canvas #alert_bar #hide_this {
    float:left;
    font-size:0.8em;
    padding:10px 0 0 4px;
    width:51px;
}

#above_zoom_div {

}
#in_zoom_div {
    position:relative;
}
#below_zoom_div {

}

#share_area {
    position:absolute;
    bottom:10px;
    left:10px;
    z-index:2;
}
#share_area:hover {
    cursor:pointer;
}

#share_bar {
    position:relative;
    z-index:4;
	background:#189792 url(../images/share_default.jpg) no-repeat top left;
	width:38px;
	height:33px;
}

#share_link_area {
	position:absolute;
    z-index:3;
    width:545px;
	height:33px;
    background:#189792;
	/*background:#11b0aa url(../images/share_link_area.jpg) no-repeat top left;*/
	display:none;
	top:0;
	left:0;
    color:#333;

    letter-spacing:0em;

	padding:0px 5px 0px 45px;

	-moz-box-shadow: 2px 2px 7px #111;
	-webkit-box-shadow: 5px 2px 7px #111;
	box-shadow: 2px 2px 7px #111;
}
#share_area #prompt {
    float:left;
    padding:8px 0px 0px 0px;
}
#share_area #link {
    /*
    float:left;
    margin: 3px 0px 3px 5px;
    padding:3px 7px;
    color:#aaa;
    background:#333;
    border:1px solid #aaa;
    */
}
#share_area #chrome_fix_div {
    padding:3px;
}
#share_area #share_link_value {
	width:437px;
    font-size:15px;
    letter-spacing:0em;
    height:24px;
    padding:1px 5px 1px 5px;
    margin:0px 0px 0px 5px;
    background:#333;
    border:1px solid #11b0aa;
}

#hidden_prompt {
    float:left;
    margin-top:20px;
    color:#aaa;
    padding-left:5px;
}

#bottom_accent_bar {
	background:#189792 url(../images/accent_bottom_inner.jpg) no-repeat bottom left;
	width:20px;
	min-height:17px;
}

/*****************************************
 * Canvas Uploader
 *****************************************/

.upload_file_canvas_div {
    width:171px;
    height:171px;
    border: 2px dashed #aaa;
    font-size:0.8em;
}
.mock_photo {
    width:171px;
}
.file_upload_canvas_content {
    background:#222222;
    position:absolute;
    z-index:3;
    bottom:0;
    width:165px;
    height:30px;
    font-size:1.3em;
    padding:.6em 5px 5px .7em;
    opacity: .85;
    -ms-filter: 'alpha(opacity=.85)';
    filter: alpha(opacity=.85);
}
.file_upload_canvas_progress {
    position:absolute;
    z-index:2;
    height:100%;
    width:100%;
    background:#333;
}

#add_artifact {
    position:relative;
    width:171px;
    height:171px;
    border: 2px dashed #aaa;
	float:left;
	-moz-box-shadow: 2px 2px 7px #111;
	-webkit-box-shadow: 2px 2px 7px #111;
	box-shadow: 2px 2px 7px #111;
	margin:5px;
	overflow:hidden;
}
#add_artifact:hover {
	-moz-box-shadow: 2px 2px 11px #1e5957;
	-webkit-box-shadow: 2px 2px 11px #1e5957;
	box-shadow: 2px 2px 11px #1e5957;
}
#add_artifact_text{
    color:#aaa;
    width:155px;
    padding:52px 10px 0px 10px;
    text-align:center;
    position:relative;
    z-index:2;
}
#add_artifact .photo_container {
    height:100%;
}

#new_artifacts {
    display:none;
    width:756px; /* 955 - 175-10 - 10    This is adjusted on page resize*/
    height:171px;
    border: 2px dashed #aaa;
    overflow:hidden;
	float:left;
	-moz-box-shadow: 2px 2px 7px #111;
	-webkit-box-shadow: 2px 2px 7px #111;
	box-shadow: 2px 2px 7px #111;
	margin:5px;
}
#uploadArea_title_div {
    width:85px;
    height:146px;
    padding:25px 5px 0px 10px;
    color:#aaa;
    background:#222;
    float:left;
    border-right:1px solid #444;
}
#uploadArea_title_div #cancel_all_uploads {
    font-size:0.8em;
}
#uploadArea_holding_wrapper {
    width:1px; /* This width set by js to always complement staging div */
    height:171px;
    float:left;
    overflow:hidden;
    background:#2a2a2a;
}
#uploadArea_holding_div {
    padding:5px;
    width:1px; /* This width set by js to tile internal divs properly */
    float:right;
}
#uploadArea_staging_div {
    width: 1px; /* This width set by js to always complement holding div */
    height:171px;
    border-left:1px solid #444;
    float:left;
    position:relative;
}
#uploadArea_staging_div #staging_title {
    position:absolute;
    padding:0px 0px 2px 5px;
    bottom:0;
    left:0;
    font-size:0.7em;
    color:#666;
}
#uploadArea_staging_div #staging_content {
    padding:5px 0px;
}
.canvas_upload_div {
    /* Nominal width of 70px */
    width:68px;
    height:68px;
    border:1px dashed #666;
    margin:5px;
    float:right;
    overflow:hidden;
}


#canvas_file_upload {
    position:relative;
    z-index:4;
}
#canvas_file_upload input{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    -o-transform: translate(-500px, 70px) scale(10);
    -moz-transform: translate(-500px, 70px) scale(10);
    -webkit-transform: translate(-20px, 0px) scale(2,15);
    z-index:4;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    filter: alpha(opacity=0);
   
}

/*****************************************
 * Photo
 *****************************************/

.photo {
	/*left:-10%;
	position:relative;*/
    cursor:pointer;
}

.photo:hover {
}

.mock_photo {
    width:175px;
    height:175px;
    background:transparent;
}

#header_block {
    height:60px;
    width:100%;
}
#photo_wrapper {
}

.artifact{
	display:block;
	float:left;
	-moz-box-shadow: 2px 2px 7px #111;
	-webkit-box-shadow: 2px 2px 7px #111;
	box-shadow: 2px 2px 7px #111;
	margin:5px;
	overflow:hidden;
    position:relative;
}

.artifact_wrapper {
    position:relative;
}

.photo_container {
    position:relative;
    z-index:1;
    overflow:hidden;
    margin:0;
}

.artifact_row {
    width:1100px;
    overflow:hidden;
}
.artifact_row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.artifact_hidden {
    opacity: .50;
    -ms-filter: 'alpha(opacity=.50)';
    filter: alpha(opacity=.50);
}
.artifact_hidden:hover {
    /*
    opacity: 1;
    -ms-filter: 'alpha(opacity=1)';
    filter: alpha(opacity=1);
    */
}

.hide_photo {
    display:none;
    background:#222;
    padding:0px 5px;
    position:absolute;
    z-index:2;
    right:0;
    top:0;
    text-align:right;
    font-size:0.9em;
    line-height:1.4em;
    opacity: .85;
    -ms-filter: 'alpha(opacity=.85)';
    filter: alpha(opacity=.85);
}

.hide_photo:hover {
    cursor:pointer;
    opacity: .95;
    -ms-filter: 'alpha(opacity=.95)';
    filter: alpha(opacity=.95);
}


/*
.artifact:hover {
	cursor:pointer;
	-moz-box-shadow: 2px 2px 7px #1e5957;
	-webkit-box-shadow: 2px 2px 7px #1e5957;
	box-shadow: 2px 2px 7px #1e5957;
	border:1px solid #1e5957;
	margin:4px;
}
*/

/*****************************************
 * Footer
 *****************************************/

 #canvas_footer {
     position:fixed;
     z-index:2;
     bottom:0;
     z-index:2;
     height:70px;
     width:100%;
	 background:transparent url(../images/bottom_bar_bg.png) repeat-x top left;
 }

 #footer_block {
    height:60px;
    width:100px;
 }
 
 #canvas_footer .canvas_center {
	 padding:0;
 }
 
 #footer_accent_bar {
     background:transparent url(../images/bottom_accent.png) no-repeat bottom left;
	 width:40px;
     height:90px;
     margin-top:-20px;
 }
 
 #company_info {
     font-size:1.2em;
	margin-top:20px;
	height:37px;
	float:right;
	width:270px;
	text-align:right;
 }
 #company_info_descriptor {
 }

 #footer_right_of_wrapper {
     top:0;
 }
 
